body{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding:0;
    margin: 0;
}

#header{
   
    width: 100%;
    padding-top: 0px;
    padding: 0px;
   height: 150px;
   
    }
      
     
    #nav{
        display:flex;
        list-style: none;
        background-color:rgb(173, 216, 230);
        width: 100%;
        height: 150px;
        margin-top: 0px;
        padding-top: 0px;
        position:fixed;
                  

    }
    #nameheader{
        padding-top: 100px;
        padding-left: 50px;
        margin-bottom: 0;
    }
    #nav-ul{
    list-style: none;
    display: flex;
    align-self: flex-end;
    padding-bottom: 0px; 
    margin-bottom: 0;
    padding-left: 450px;
    justify-content: flex-end;
    font-size: 25px;
      }
     

  #nav-ul li{
  padding: 0px 10px 0px 30px;
  text-decoration: none;

  }
  
  main{
    margin-top: 20px;
  }  
      
    #img-pic{
         display: inline;
        width: 307px;
        height: 409px; 
        padding-right: 170px;
        margin-top: 0px;
        float: right;
        padding-top: 0px;
              
    }
a{
        text-decoration: none;
        color:black;
    }
    #aboutme{
       padding-top: 160px;
       margin-top: -150px;
        color: blue;
        font-size: larger;
        padding-left: 10px ;
        
    }
    #keyskills{
        padding-top: 170px;
        margin-top: -160px;
        color: blue;
        font-size: larger;
    }
    #portfolio{
        color: blue;
        font-size: larger;   
    }

    #areaof{
        color: blue;
        font-size: larger;  
    }
    #personal{
       
        color: blue;
        font-size: larger;  
    }
    p{
padding-left: 10px;
    }
    
/*where Queries Start*/

@media screen and (max-width: 768px) {
 #nav{
    color: blue;
    
 }
  #nav-ul  {
   padding-right:  20px;
   padding-left: 10px;
   font-size: 16px;
   
  
  }  
  #nav-ul li{
    color: blue;
   
    
  }
  #nameheader{
    padding-top: 75px;
    padding-left: 15px;
 }}
 @media  (max-width:480px) {
   #nav-ul li  {  
     justify-content: center;
    align-items: center;  
    font-size: 12px; 
    padding: 0px 6px 0px 6px;
    
   }
   #img-pic{
    display: inline;
   width: 157px;
   height: 259px; 
   padding-right: 0px;
   margin-top: 0px;
   float: right;
   padding-top: 0px;



         
}
   
    
 }